{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}

{{#foreach posts}}
<article class="blog-post {{post_class}}">
        <header class="post-header">
            <a href="{{url}}"><h2>{{{title}}}</h2></a>
        </header>
        <section class="post-content">
        <p>{{excerpt}}&hellip;</p>
        </section>
        <footer class="post-footer">
            Written on a {{date format="dddd"}} <time datetime="{{date format='YYYY-MM-DD'}}">{{date timeago="true"}}</time>
        </footer>
</article>
{{/foreach}}

{{!! After all the posts, we have the previous/next pagination links }}

{{#if pagination.prev}}
    <hr>
    {{pagination}}
{{else}}
    {{#if pagination.next}}
        <hr>
        {{pagination}}

    {{/if}}
{{/if}}